<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../static/bower_components/onsenui/css/onsenui.css"/>
    <link rel="stylesheet" href="../../static/bower_components/onsenui/css/onsen-css-components.min.css"/>
    <link rel="stylesheet" href="../../static/css/forms.css"/>


    <script src="../../static/bower_components/angular/angular.min.js"></script>
    <script src="../../static/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="../../static/bower_components/onsenui/js/onsenui.min.js"></script>
    <script src="../../static/bower_components/onsenui/js/angular-onsenui.min.js"></script>
    <script src="../../static/controllers/app.js"></script>

</head>
<body ng-controller="AppController">

<ons-navigator ng-controller="NavigationController" var="navi">

</body>
</html>